# Introduction to Pandas
The [pandas](https://pandas.pydata.org/) library is a framework for data processing and analysis in Python. It provides convenient data structures for representing series and tables of data, and makes it easy to transform, split, merge, and convert data.

Features for handling data:
- labeled indexing
- hierarchical indices
- alignment of data for comparison and merging of datasets
- handling of missing data

and much more.

In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
%matplotlib inline

### Pandas Data Structures
The two main data structures in pandas are the Series (used to represent data series) and DataFrame objects (used to represent tabular data). Both of these objects have an index for accessing elements or rows in the data represented by the object.  (Note: There are actually 3 data structues but the third type(Panel) is barely used in the real world.)


|Data Structure|Dimensionality| Spreadsheet Analog |
| --- | --- | --- |
|```Series```|1D |Column | 
|```DataFrame```|2D |Single sheet (tabular data) |
|```Panel```|3D |Multiple sheets |

### Series
We will show the advantage of being able to index a data series with labels rather than integers with the following example. Let's create a ```Series``` object that represents the data [909976, 8615246, 2872086, 2273305].

In [ ]:
s = pd.Series([909976, 8615246, 2872086, 2273305])

If you type s or ```print(s)```, you will see the data of the Series with the corresponding indices. The object is a ```Series``` instance with data type int64.

In [ ]:
s

In [ ]:
list_s =  [909976, 8615246, 2872086, 2273305]
list_s

Using ```index``` and ```values``` attributes, we can extract the index and the values stored in the ```Series```:

In [ ]:
s.index

In [ ]:
s.values

Using integers as indices is not descriptive. For example, if the data represents the population of four European capitals, it's convenient and descriptive to use city names as indices.

In [ ]:
s.index = ["Stockholm", "London", "Rome", "Paris"]

#we can also set the name attribute to the Series
s.name = "Population"
s

We can also do it all once:

In [ ]:
s = pd.Series([909976, 8615246, 2872086, 2273305], 
              name = "Population", index = ["Stockholm", "London", "Rome", "Paris"])
s

We can access elements in a Series by indexing with either the name or the index:

In [ ]:
s["Stockholm"]

In [ ]:
s[0]

or through an attribute with the same name as the index:

In [ ]:
s.Stockholm

Series are mutable (elements can be directly assigned to)

In [ ]:
s[0] = 1
s

In [ ]:
s[0] = 909976 # restore the original value
s

Indexing a Series object with a list of indices gives a new Series object which is a subset of the original one.

In [ ]:
s2 = s[["London", "Paris"]]
s2

We can easily compute the statistics of a `Series` object:

In [ ]:
 #the number of data points
s.count()

In [ ]:
# mean and standard deviation
s.mean(), s.std()

In [ ]:
# min and max
s.min(), s.max()

In [ ]:
# 25% quantile
s.quantile(q=0.25)

The `describe` method gives a summary of a `Series` object:

In [ ]:
s.describe()

We can use `plot` method to visualize the data.

In [ ]:
fig, axes = plt.subplots(1, 3, figsize=(12, 3))
s.plot(ax = axes[0], kind='line', title = 'line')
s.plot(ax = axes[1], kind='bar', title = 'bar')
s.plot(ax = axes[2], kind='pie', title = 'pie')

### DataFrame
`DataFrame` object is the pandas data structure for two-dimensional arrays. Columns are really just `Series` objects.  
There are various ways to initialize a `DataFrame`.  For example, we will extend the previous dataset by including a column that specifies which country each city belongs to.

In [ ]:
?pd.DataFrame

In [ ]:
df = pd.DataFrame([[909976, "Sweden"], [8615246, "United Kingdom"],  
                    [2872086, "Italy"], [2273305, "France"]], 
                    index = ["Stockholm", "London", "Rome", "Paris"],
                    columns = ["Population", "State"])
df

Another way which can be more convenient is to pass a dictionary with column titles as keys and column data as values:

In [ ]:
df2 = pd.DataFrame({"Population": [909976, 8615246, 2872086, 2273305],
                     "State": ["Sweden", "United Kingdom", "Italy", "France"]},
                    index = ["Stockholm", "London", "Rome", "Paris"])
df2

Each column can be accessed using the column name as attribute (or by indexing with the column label). The result is a new `Series` object.

In [ ]:
df.Population

In [ ]:
df["Population"] #another way to get column

Rows can be accessed using the `loc` for label based indexing or `iloc` for positional indexing.

In [ ]:
df.loc["London"]

In [ ]:
df.iloc[2]

Use `loc` or `iloc` and avoid [chained indexing](https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html) (and also [here](https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#indexing-view-versus-copy)) especially when modifying data.

In [ ]:
df["Population"]["Stockholm"] = 1 # INCORRECT chained indexing
df

In [ ]:
df.loc["Stockholm","Population"] = 909976 # restore correct value
df

We can pass a list of row labels (and/or column labels) which will give us a new `DataFrame` that is a subset of the original `DataFrame`:

In [ ]:
df3 = df.loc[["London","Paris"]]
df3
#df3["London","Paris"]

In [ ]:
df4 = df.loc[["London","Rome"], "Population"]
df4

We can compute statistics using the same methods (`mean, min, max, std`, etc) as for `Series` objects. The calculation is applied for each column with numbers:

In [ ]:
df.loc["London","Population"] = -1
df

In [ ]:
df.mean()

In [ ]:
df["Population"].mean()

The method `DataFrame` method `info` provides a summary of the content.

In [ ]:
df.info()

### Working with data from files
So far we've defined data as explicit lists or dictionaries.  However, we often need to read data from a file. The pandas library supports various methods for reading data from files of different formats ([see pandas I/O tools](https://pandas.pydata.org/pandas-docs/stable/io.html)). Here we will read in data from a CSV (comma-seperated values) file using `read_csv` function. The first and only mandatory argument is a filename .  Some other useful arguments are:
- `header` : specifies which row, if any, contains a header with column names
- `skiprows` : numbers of rows to skip before starting to read data, or a list of line numbers of lines to skip
- `delimiter` : the character that is used as a limiter between columns values

In [ ]:
pd.read_csv?

We will read data from the csv file  `european_cities.csv` which contains the european cities by population within city limits.

In [ ]:
#See the first 5 lines 
!head -n 5 european_cities.csv

In [ ]:
# read in data from the csv file and create a DataFrame
df_pop = pd.read_csv("european_cities.csv")

We can inspect the summary by the `info` method.

In [ ]:
df_pop.info()

In [ ]:
df_pop.dtypes

This dataset might be too long to display in full. We can use the `head(n)` and `tail(n)` methods to return the first and last `n` rows, respectively (the default for `n` is 5). Displaying a truncated DataFrame gives us a good idea of how the data looks.

In [ ]:
df_pop.head(5)

In [ ]:
df_pop.tail(6)

The "Population" column is not yet of numerical type. The `apply` method transforms the elements in a specified column, and returns a new `Series` object.  Here we transform the elements in the "Population" column from strings to integers by passing a lambda function to remove the "," and casts the results to an integer, and then assign the transformed column to a new column named "NumericPopulation".

In [ ]:
df_pop["NumericPopulation"] = df_pop.Population.apply( lambda x: int(x.replace(",", "")))

In [ ]:
df_pop.head()

In [ ]:
df_pop.dtypes

In [ ]:
# If we look at the "State" column, we'll see that it contains extra white spaces
df_pop["State"].values[:3]

In [ ]:
#We can remove extra white spaces by the string method `strip`
df_pop["State"] = df_pop["State"].apply(lambda x: x.strip())

In [ ]:
df_pop["State"].values[:3]

In [ ]:
df_pop.head()

We can also change the index to one of the columns using the `set_index` method. Say we want to use the "City" column as an index, and then sort the data with respect to the index.

In [ ]:
df_pop2 = df_pop.set_index("City")
df_pop2.head()

In [ ]:
df_pop2 = df_pop2.sort_index()

In [ ]:
df_pop2.head()

We can also create a hierachical index with "State" and "City" as indices, and use the `sort_index` method to sort by the first index:

In [ ]:
df_pop3 = df_pop.set_index(["State", "City"]).sort_index(level=0)

In [ ]:
df_pop3.head(8)

To sort by column, use `sort_values` method.  Let's use "City" as index and sort the "State" column in descending order and the "NumericPopulation" in ascending order:

In [ ]:
df_pop.set_index("City").sort_values(["State","NumericPopulation"], \
                                     ascending=[False, True]).head(10)

In [ ]:
df_pop.head()

To count how many values of each category a column contains, we can use the `value_counts` method.  For example, we can count the number of cites each country has:

In [ ]:
city_counts = df_pop["State"].value_counts()
city_counts.head()

Question: How large is the total population of all cities within a state?

First way: create a hierarchical index using "State" and "City", and sum over all entries within the index level "State" which eliminates the "City" index.

In [ ]:
df_pop4 = df_pop[["State", "City","NumericPopulation"]].set_index(["State","City"])
print(df_pop4.head())
df_pop5 = df_pop4.sum(level="State")
df_pop5.head(10)

Second way: use the `groupby` method to group rows by the values of of a given column, and apply a reduction fuction (e.g. `sum`, `max`) on the object.

In [ ]:
df_pop6 = df_pop.drop("Rank", axis=1).groupby("State").sum().   \
             sort_values("NumericPopulation", ascending=False)
print(df_pop6)
df_pop6.head(10)

We can plot bar graphs for the city count and the total population.

In [ ]:
fig, (ax1, ax2) = plt.subplots(1, 2, figsize=(12,4))
city_counts.plot(kind='barh', ax=ax1)  # 'barh' means horizontal bar plot
ax1.set_xlabel("# cities in top 105")
df_pop5.NumericPopulation.plot(kind='barh', ax=ax2)
ax2.set_xlabel("Total pop. in top 105 cities")
plt.tight_layout()

## Dealing with Missing Data

Let's look at a simple data frame with missing data.

In [ ]:
import io
data = ''' Name|Age|Color
           Ed|22|Red
           Sara|29|Blue
           Jason|24|
           Dan||Black'''

In [ ]:
df = pd.read_table(io.StringIO(data), sep='|')

This data is missing some values:

In [ ]:
df

*Note: A few reasons why data can be missing. 1. User didn't enter data.  2. Storage devices out of space. 3. When integrating data systems, syncing is broken  etc*

**Finding missing data**:

In [ ]:
df.isnull()

For larger datasets, we can use `.any` method:

In [ ]:
df.isnull().any()

**Dropping missing data**

Drop rows with missing data:

In [ ]:
df.dropna()

We can use the result of `.notnull` (the complement of `.isnull`) to be more selective.

In [ ]:
valid = df.notnull()
#get rows for valid ages
df[valid.Age]

In [ ]:
#get rows for valid colors
df[valid.Color]

**Inserting data for missing data**

In [ ]:
df

In [ ]:
df.fillna('missing')

To fill values on per column basis, we can pass in a dictionary:

In [ ]:
df.fillna({'Age': df.Age.median(), 'Color': 'Pink'})

- *forward fill*: take the value before the missing value. 
- *backwards fill*: use the value after the missing value.

In [ ]:
df

In [ ]:
df.fillna(method='ffill')

Another option is the `.interpolate` method with options (linear, time, values/index).

In [ ]:
# add one more row to the data
data2 = ''' Name|Age|Color
           Greg|26|Red '''
df2 = pd.read_table(io.StringIO(data2), sep='|')

In [ ]:
df3 = df.append(df2, ignore_index=True)
df3

In [ ]:
df3.interpolate()

## References: 
- *Numerical Python: A Practical Techniques Approach for Industry*  by Robert Johansson (Chapter 12)
- *Learning the Pandas Library: Python Tools for Data Munging, Data Analysis, and Visualization* by Matt Harrison